.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
build/
dist/
wheels/

.env
.env.*
!.env.example
.venv/
venv/
.env.dev
.env.prod

docker-data/
postgres_data/
ollama_data/
*.pid
*.log

node_modules/
dist/
dist-ssr/
.vite/
.cache/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

coverage/
*.tar
*.zip

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

__MACOSX/
*.swp
*.swo
*.tmp
*.bak
